.board {
    height: 600px;
    width: 600px;
    border: 2px solid blue;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.square {
    height: 185px;
    width: 185x;
    border: 2px solid green;
    border-radius: 10px;
    margin: 5px;
    background-color: grey;
    
}

.player1 {
    background-color: red;
}

.player2 {
    background-color: blue;
}

